
.main-container {

    border-style: solid;
    border-width: 2px;
    border-color: pink;

    padding: 10px;

    background: white;

  }


  .secondary-container {

      border-style: solid;
      border-width: 4px;
      border-color: black;

      padding: 5px;

      background: pink;

    }


  h1, h2, i {
     font-family: "Lobster";
     text-align: left;
     font-weight: bold;

  }

   p {
        font-family: "Source Sans Pro";
        text-align: center;
        font-weight: normal;
      }



  h1 {

      border-style: solid;
      border-width: 2px;
      border-color: black;

      background: #f1f1f1;
  }


  p, h2,i {
      border-style: solid;
      border-width: 2px;
      border-color: black;
      background: #f1f1f1;
  }
