/* Select the main container 'div' element */
.main-container {
    /* Draw a lime green border 2px thick. */
    border-style: solid;
    border-width: 2px;
    border-color: pink;
    /*Add space between the boarder and its inside elements. */
    padding: 10px;
    /* Color the background dark grey. */
    background: #373E42;
}
h1, h2, p, i {
   font-family: "Source Sans Pro";
   text-align: center;
   font-weight: normal;
/* Select all h1 elements. */
h1 {
    /* Draw an orange border 2px thick around ONLY the h1 element. */
    border-style: solid;
    border-width: 2px;
    border-color: black;
    /* Set a unique background color. */
    background: #f1f1f1;
}

/* Select ALL paragraph elements. */
p {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: #f1f1f1;
}

/* Select the strong AND emphasized elements. */
strong, em {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

/* Select ONLY the emphasized elements. */
em {
    color: black;
}

hr {
  margin: 30px 0;
}


/* Experiement on your own by styling the second div element! */
.secondary-container {

}
